Readitor {
  & .container {
    border-radius: 3px;
    margin: 5px 0 0 10px;
    width: 98.5%;
    position: relative;
    left: 0;
    top: 5px;
    height: 620px;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: #2A2A2C;
  }
}

