Header {
  & .header {
    background-color: rgb(71, 71, 71);
    border-bottom: 1px solid whitesmoke;
    text-align: center;
    padding: 10px 0 7px;
    height: 40px;
  }
  & .header small {
    position: absolute;
    left: 190px;
    top: 16px;
    color: #0FB427;
  }
  & .header div {
    float: right;
    margin-right: 10px;
  }
  & .click input {
    display: none;
  }
  & .copy img {
    display: none;
  }
  & .click .btn {
    display: none;
  }
  & .share span{
    font-size: 25px;
    color:whitesmoke;
    position: absolute;
    top:20px;
    right:7%;
  }
  & .copy .share {
    display: none;
  }
  & .copyURL {
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
    padding:5px;
    width:300px;
    border-radius: 3px;
    position: absolute;
    top:20px;
    right:2%;
  }
  & .share:hover {
    cursor: pointer;
  }
  & .link {
    color: whitesmoke;
    margin: 0 15px;
    font-size: 1.4em;
  }
  & .link:hover {
    color: #0FB427;
    cursor: pointer;
  }
  & .title {
    color: whitesmoke;
    font-size: 2.2em;
    position: absolute;
    left: 10px;
    top: 20px;
    text-decoration: none;
  }
  & .title:hover {
    color: #0FB427;
    cursor: pointer;
  }
  & .btn {
    color: #323232;
    background: whitesmoke;
  }
  & .buttons {
    padding: 3px;
    font-size: 10px;
    font-family: 'Hack', monospace;
    background: #101010;
    color: #ccc;
  }
}
