*~
*.7z
_build/
/.build/
build.js
bundle
bundle.js
*.bz2
codemirror_libs
data
db
dist
.DS_Store
*.egg
*.elf
*.gz
*.ko
*.lock
node_modules
npm-debug.log*
*.o
*.out
*.pid
__pycache__/
*$py.class
*.py[cod]
*.so
*.so.*
*.swp
tags
TAGS
*.tar

