Settings {
  & .settings-tab {
    font-size: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding:5px 10px 0px 10px;
    position: absolute;
    top: -24.5px;
    left:0px;
    background-color: rgb(233, 233, 233);
    small:hover {
      cursor: pointer;
    }
  }
  & .settings {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0px;
    min-height: 250px;
    height:75%;
    width:22%;
    background-color: rgb(233, 233, 233);
    border-left:1px solid #10AC12;
    border-bottom:1px solid #10AC12;
    border-bottom-left-radius: 5px;
  }
}

