TitleBar {
  & .header-bar {
    border-bottom: 1px solid #101010;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    line-height:2;
    color:#0FB427;
    text-align:center;
    width:100%;
    height:33px;
    background-color:#474747;
  }
  & .header-bar span{
    z-index: 99999;
    position:absolute;
  }
  & .setting-icon {
    float:right;
    margin:4px;
    z-index:9999;
  }
  & .setting-icon:hover {
    cursor: pointer;
  }
}

