Stack {
  & .atom-icon {
    width: 50px;
  }
  & .atom-container {
    text-align:center;
    line-height: 1.6;
    margin:20px;
    padding:2px;
    border: 2px solid #101010;
    border-radius:3px;
    background-color:whitesmoke;
  }
  & .atom-container div {
    font-size: 2.2em;
  }
  & .atom-container img {
    margin: 5px 35px;
  }
  & .atom-container a {
    color: #101010;
  }
  & .atom-container a:hover {
    color: #0FB427;
  }
}

