@mainBodyColor: rgb(166, 166, 166);
@number: 500px;

body {
  background-color: @mainBodyColor;
  margin: 0px;
  font-family: 'Hack', monospace;
}
.firepad {
  position: absolute;
  top:0;
  right:0;
  min-height: 350px;
  height:91.4%;
  width:100%;
  padding-right: 0;
  margin-right: 0;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

